AmiManeraWeb/AmiManeraWeb/Connected Services/ServicioWS/PedidoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://servicios.amimaneraws.amm.restaurante.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PedidoWS" targetNamespace="https://servicios.amimaneraws.amm.restaurante.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AMiManeraWS/PedidoWS?xsd=1" namespace="https://servicios.amimaneraws.amm.restaurante.com" />
    </xsd:schema>
  </types>
  <message name="guardarPedido">
    <part name="parameters" element="tns:guardarPedido" />
  </message>
  <message name="guardarPedidoResponse">
    <part name="parameters" element="tns:guardarPedidoResponse" />
  </message>
  <message name="eliminarPedido">
    <part name="parameters" element="tns:eliminarPedido" />
  </message>
  <message name="eliminarPedidoResponse">
    <part name="parameters" element="tns:eliminarPedidoResponse" />
  </message>
  <message name="listarPedidos">
    <part name="parameters" element="tns:listarPedidos" />
  </message>
  <message name="listarPedidosResponse">
    <part name="parameters" element="tns:listarPedidosResponse" />
  </message>
  <message name="buscarPedidoPorId">
    <part name="parameters" element="tns:buscarPedidoPorId" />
  </message>
  <message name="buscarPedidoPorIdResponse">
    <part name="parameters" element="tns:buscarPedidoPorIdResponse" />
  </message>
  <message name="crearPedido">
    <part name="parameters" element="tns:crearPedido" />
  </message>
  <message name="crearPedidoResponse">
    <part name="parameters" element="tns:crearPedidoResponse" />
  </message>
  <message name="agregarProductoAPedido">
    <part name="parameters" element="tns:agregarProductoAPedido" />
  </message>
  <message name="agregarProductoAPedidoResponse">
    <part name="parameters" element="tns:agregarProductoAPedidoResponse" />
  </message>
  <message name="listarPedidosPorMesa">
    <part name="parameters" element="tns:listarPedidosPorMesa" />
  </message>
  <message name="listarPedidosPorMesaResponse">
    <part name="parameters" element="tns:listarPedidosPorMesaResponse" />
  </message>
  <message name="listarPedidosPorEstado">
    <part name="parameters" element="tns:listarPedidosPorEstado" />
  </message>
  <message name="listarPedidosPorEstadoResponse">
    <part name="parameters" element="tns:listarPedidosPorEstadoResponse" />
  </message>
  <portType name="PedidoWS">
    <operation name="guardarPedido">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/guardarPedidoRequest" message="tns:guardarPedido" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/guardarPedidoResponse" message="tns:guardarPedidoResponse" />
    </operation>
    <operation name="eliminarPedido">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/eliminarPedidoRequest" message="tns:eliminarPedido" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/eliminarPedidoResponse" message="tns:eliminarPedidoResponse" />
    </operation>
    <operation name="listarPedidos">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/listarPedidosRequest" message="tns:listarPedidos" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/listarPedidosResponse" message="tns:listarPedidosResponse" />
    </operation>
    <operation name="buscarPedidoPorId">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/buscarPedidoPorIdRequest" message="tns:buscarPedidoPorId" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/buscarPedidoPorIdResponse" message="tns:buscarPedidoPorIdResponse" />
    </operation>
    <operation name="crearPedido">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/crearPedidoRequest" message="tns:crearPedido" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/crearPedidoResponse" message="tns:crearPedidoResponse" />
    </operation>
    <operation name="agregarProductoAPedido">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/agregarProductoAPedidoRequest" message="tns:agregarProductoAPedido" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/agregarProductoAPedidoResponse" message="tns:agregarProductoAPedidoResponse" />
    </operation>
    <operation name="listarPedidosPorMesa">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/listarPedidosPorMesaRequest" message="tns:listarPedidosPorMesa" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/listarPedidosPorMesaResponse" message="tns:listarPedidosPorMesaResponse" />
    </operation>
    <operation name="listarPedidosPorEstado">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/listarPedidosPorEstadoRequest" message="tns:listarPedidosPorEstado" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/PedidoWS/listarPedidosPorEstadoResponse" message="tns:listarPedidosPorEstadoResponse" />
    </operation>
  </portType>
  <binding name="PedidoWSPortBinding" type="tns:PedidoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="guardarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarPedidoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarProductoAPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidosPorMesa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidosPorEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PedidoWS">
    <port name="PedidoWSPort" binding="tns:PedidoWSPortBinding">
      <soap:address location="http://localhost:8080/AMiManeraWS/PedidoWS" />
    </port>
  </service>
</definitions>