AmiManeraWeb/AmiManeraWeb/Connected Services/ServicioWS/ProductoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://servicios.amimaneraws.amm.restaurante.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoWS" targetNamespace="https://servicios.amimaneraws.amm.restaurante.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AMiManeraWS/ProductoWS?xsd=1" namespace="https://servicios.amimaneraws.amm.restaurante.com" />
    </xsd:schema>
  </types>
  <message name="guardarProducto">
    <part name="parameters" element="tns:guardarProducto" />
  </message>
  <message name="guardarProductoResponse">
    <part name="parameters" element="tns:guardarProductoResponse" />
  </message>
  <message name="listarProductos">
    <part name="parameters" element="tns:listarProductos" />
  </message>
  <message name="listarProductosResponse">
    <part name="parameters" element="tns:listarProductosResponse" />
  </message>
  <message name="buscarProducto">
    <part name="parameters" element="tns:buscarProducto" />
  </message>
  <message name="buscarProductoResponse">
    <part name="parameters" element="tns:buscarProductoResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <portType name="ProductoWS">
    <operation name="guardarProducto">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/ProductoWS/guardarProductoRequest" message="tns:guardarProducto" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/ProductoWS/guardarProductoResponse" message="tns:guardarProductoResponse" />
    </operation>
    <operation name="listarProductos">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/ProductoWS/listarProductosRequest" message="tns:listarProductos" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/ProductoWS/listarProductosResponse" message="tns:listarProductosResponse" />
    </operation>
    <operation name="buscarProducto">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/ProductoWS/buscarProductoRequest" message="tns:buscarProducto" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/ProductoWS/buscarProductoResponse" message="tns:buscarProductoResponse" />
    </operation>
    <operation name="eliminarProducto">
      <input wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/ProductoWS/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="https://servicios.amimaneraws.amm.restaurante.com/ProductoWS/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
    </operation>
  </portType>
  <binding name="ProductoWSPortBinding" type="tns:ProductoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="guardarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoWS">
    <port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
      <soap:address location="http://localhost:8080/AMiManeraWS/ProductoWS" />
    </port>
  </service>
</definitions>